body {
  background: url(../img/3.jpg) no-repeat center center / cover;
}

section {
  height: auto;
  margin: 60px 0;
  background: rgba(0, 0, 0, 0.801);
  padding: 30px 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  font-weight: 600;
  color: #8d9000;
  text-transform: uppercase;
  text-align: center;
}

h5 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 20px;
}

.menu-top {
  background: #2824a7;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu-top a {
  font-family: 'Hanalei Fill', cursive;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.menu-top .active {
  color: #000000;
}

.menu-top .menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu-top .menu-nav .menu-item {
  padding-right: 25px;
  /* .sm(display, none); */
}

.menu-top .menu-nav .burger {
  display: none;
  /* .sm(display, block);
            font-size: 20px;
            color: #ffffff; */
}

.menu-top .menu-nav .close {
  display: none;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background: url(../img/7.gif);
}

.bio {
  background: url() no-repeat center center / cover;
  width: 100%;
}

.bio .text {
  position: absolute;
  top: 37%;
  left: 7%;
}

.bio .text h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
}

.bio .text p {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  padding-top: 40px;
  padding-left: 150px;
}

.bio .text span {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Major Mono Display', monospace;
  font-size: 30px;
  padding-left: 400px;
}

.music .music-item {
  background: #6e1010;
  margin: 10px 0;
}

.music .music-item p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin: 15px;
}

.music .music-item audio {
  width: 100%;
}

.about {
  margin-bottom: 0;
}

.about p {
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  font-weight: 700;
  color: #403a7d;
  line-height: 50px;
  text-align: center;
  padding-top: 40px;
}

.picture .slider .slider-for {
  margin: 30px 0;
}

.picture .slider .slider-for img {
  width: 850px !important;
  height: 700px !important;
  margin: auto;
}

.picture .slider .slider-nav {
  margin: auto;
}

.picture .slider .slider-nav .slider-item {
  width: 275px;
}

.picture .slider .slider-nav img {
  width: 280px !important;
  height: 240px !important;
  margin: auto;
}

@media (max-width: 1200px) {
  .bio .text h3 {
    font-size: 30px;
  }

  .bio .text p {
    padding-bottom: 10px;
  }

  .bio .text p {
    padding-left: 80px;
  }

  .bio .text p {
    font-size: 17px;
  }

  .bio .text span {
    font-size: 17px;
  }

  .bio .text span {
    padding-left: 150px;
  }
}

@media (max-width: 992px) {
  .bio .text p {
    padding-left: 80px;
  }

  .bio .text p {
    font-size: 17px;
  }

  .picture .slider .slider-nav img {
    height: 180px;
  }

  .picture .slider .slider-nav img {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .bio .text h3 {
    display: none;
  }

  .bio .text p {
    display: none;
  }

  .bio .text span {
    display: none;
  }

  .picture .slider .slider-for img {
    height: 500px;
  }

  .picture .slider .slider-for img {
    width: 520px;
  }

  .picture .slider .slider-nav .slider-item {
    width: 175px;
  }

  .picture .slider .slider-nav img {
    height: 140px;
  }

  .picture .slider .slider-nav img {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .picture .slider .slider-for img {
    height: 400px;
  }

  .picture .slider .slider-for img {
    width: 420px;
  }

  .picture .slider .slider-nav .slider-item {
    width: 75px;
  }

  .picture .slider .slider-nav img {
    height: 100px;
  }

  .picture .slider .slider-nav img {
    width: 90px;
  }
}

@media (max-width: 350px) {
  .picture .slider .slider-for img {
    height: 300px;
  }

  .picture .slider .slider-for img {
    width: 320px;
  }

  .picture .slider .slider-nav .slider-item {
    width: 45px;
  }

  .picture .slider .slider-nav img {
    height: 60px;
  }

  .picture .slider .slider-nav img {
    width: 60px;
  }
}
